@media (min-width: 992px) {
  .container {
    max-width: 690px !important;
  }
}

.card {
  max-height: 80px;
}

.true-set {
  font-family: cursive;
}

.false-set {
  font-family: monospace;
}

.hover-pointer {
  cursor: pointer;
}

.selected {
  border: 3px solid red;
}

.color-0 {
  color: red;
}

.color-1 {
  color: green;
}

.color-2 {
  color: blue;
}

.fill-0 {
  font-style: italic;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}

.fill-1 {
  font-weight: bolder;
  font-size: 25px;
  font-family: sans-serif;
  margin-top: -5px;
}

.fill-2 {
  font-family: cursive;
  font-size: 20px;
}
