@media (min-width: 992px) {
  .container {
    max-width: 690px !important;
  }
}

.cursive-font {
  font-family: 'Neucha', cursive;
}

.mono-font {
  font-family: monospace;
}

h1.cursive-font {
  font-size: 6em;
}

h3.cursive-font {
  font-size: 2em;
  cursor: pointer;
}

input[type="text"]
{
    font-size: 4em;
    font-family: monospace;
}

label
{
    font-size: 3em;
    margin-right: 15px;
}

.btn, .btn-lg {
  font-family: 'Neucha', cursive;
}

.nav-link {
  cursor: pointer;
}

.card {
  max-height: 80px;
}

.rounded {
  border-width: 3px !important;
}

/* start screen classes */
.cycle-cards {

}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
/* end start screen classes */

/* about screen classes */

.about-row-1 {
  background-color: #fdd;
  margin-left: 5px;
  margin-right: 5px;
}

.about-row-2 {
  background-color: #dfd;
  margin-left: 5px;
  margin-right: 5px;  
}

.about-row-3 {
  background-color: #ddf;
  margin-left: 5px;
  margin-right: 5px;
}

.about-row-4 {
  background-color: #ffd;
  margin-left: 5px;
  margin-right: 5px;  
}
/* end about screen classes */

.high-score-list {
  max-width: 400px;
  width: 100%;
}

#gold {
  background-color: gold;
}

#silver {
  background-color: silver;
}

#bronze {
  background-color: #cd7f32;
}

/* game screen classes */
.card p::selection {
  background: transparent;
}
.card p::-moz-selection {
  background: transparent;
}

.hover-pointer {
  cursor: pointer;
}

.selected {
  border: 3px solid lightblue;
}

.true-set {
  border-color: lightgreen;
}

.false-set {
  border-color: red;
}

.color-0 {
  color: red;
}

.color-1 {
  color: green;
}

.color-2 {
  color: blue;
}

.fill-0 {
  font-style: oblique;
  font-family: monospace;
  font-size: 16px;
  margin-top: 0px;
}

.fill-1 {
  font-weight: bolder;
  font-size: 25px;
  font-family: sans-serif;
  margin-top: -5px;
}

.fill-2 {
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  margin-top: -3px;
}
/* end game screen classes */